@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss" prefix(t);

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
	/* Fonts */
	--font-sans: "Inter", sans-serif;
	--font-mono: "JetBrains Mono", monospace;

	/* Color Mapping */
	--color-background: var(--t-background);
	--color-foreground: var(--t-foreground);
	--color-card: var(--t-card);
	--color-card-foreground: var(--t-card-foreground);
	--color-popover: var(--t-popover);
	--color-popover-foreground: var(--t-popover-foreground);
	--color-primary: var(--t-primary);
	--color-primary-foreground: var(--t-primary-foreground);
	--color-secondary: var(--t-secondary);
	--color-secondary-foreground: var(--t-secondary-foreground);
	--color-muted: var(--t-muted);
	--color-muted-foreground: var(--t-muted-foreground);
	--color-accent: var(--t-accent);
	--color-accent-foreground: var(--t-accent-foreground);
	--color-destructive: var(--t-destructive);
	--color-destructive-foreground: var(--t-destructive-foreground);
	--color-border: var(--t-border);
	--color-input: var(--t-input);
	--color-ring: var(--t-ring);

	/* Radius Pattern */
	--radius-lg: var(--t-radius);
	--radius-md: calc(var(--t-radius) - 2px);
	--radius-sm: calc(var(--t-radius) - 4px);

	/* Standard Animations */
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@layer base {
	:root {
		--t-background: hsl(0 0% 100%);
		--t-foreground: hsl(240 10% 3.9%);
		--t-card: hsl(0 0% 100%);
		--t-card-foreground: hsl(240 10% 3.9%);
		--t-popover: hsl(0 0% 100%);
		--t-popover-foreground: hsl(240 10% 3.9%);
		--t-primary: hsl(240 5.9% 10%);
		--t-primary-foreground: hsl(0 0% 98%);
		--t-secondary: hsl(240 4.8% 95.9%);
		--t-secondary-foreground: hsl(240 5.9% 10%);
		--t-muted: hsl(240 4.8% 95.9%);
		--t-muted-foreground: hsl(240 3.8% 46.1%);
		--t-accent: hsl(240 4.8% 95.9%);
		--t-accent-foreground: hsl(240 5.9% 10%);
		--t-destructive: hsl(0 84.2% 60.2%);
		--t-destructive-foreground: hsl(0 0% 98%);
		--t-border: hsl(240 5.9% 90%);
		--t-input: hsl(240 5.9% 90%);
		--t-ring: hsl(240 10% 3.9%);
		--t-radius: 0.5rem;
	}

	.dark {
		--t-background: hsl(240 10% 3.9%);
		--t-foreground: hsl(0 0% 98%);
		--t-card: hsl(240 10% 3.9%);
		--t-card-foreground: hsl(0 0% 98%);
		--t-popover: hsl(240 10% 3.9%);
		--t-popover-foreground: hsl(0 0% 98%);
		--t-primary: hsl(0 0% 98%);
		--t-primary-foreground: hsl(240 5.9% 10%);
		--t-secondary: hsl(240 3.7% 15.9%);
		--t-secondary-foreground: hsl(0 0% 98%);
		--t-muted: hsl(240 3.7% 15.9%);
		--t-muted-foreground: hsl(240 5% 64.9%);
		--t-accent: hsl(240 3.7% 15.9%);
		--t-accent-foreground: hsl(0 0% 98%);
		--t-destructive: hsl(0 62.8% 30.6%);
		--t-destructive-foreground: hsl(0 0% 98%);
		--t-border: hsl(240 3.7% 15.9%);
		--t-input: hsl(240 3.7% 15.9%);
		--t-ring: hsl(240 4.9% 83.9%);
	}
}

@layer base {
	* {
		@apply t:border-border;
	}
	body {
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
		@apply t:bg-background t:text-foreground;
	}
}
